<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/info-mgt.css" />
    <link rel="stylesheet" href="../css/mycss/task_add.css" />
    <title>Emp-Info</title>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<div class="l_left right" style="height: 100%;width: 100%;padding-bottom: 30px;margin-top: 20px;border: 1px #c1d3de solid;">
    <h3 style="color: deepskyblue">个人信息列表</h3>



    <div style="margin:20px 0 20px 20px">
        <label>编号：</label>
        <input id="empId" name="empId" th:value="${session.emp.empId}"
               type="text" readonly="readonly"
               style="font-size: 15px;color: blue;padding-left: 10px;border: none;height: 30px;" >
    </div>

    <div style="margin:20px 0 20px 20px">
        <label>姓名：</label>
        <input id="empName" name="empName" th:value="${session.emp.empName}"
               type="text" readonly="readonly"
               style="font-size: 15px;color: blue;padding-left: 10px;border: none;height: 30px;" >
    </div>

    <div style="margin:20px 0 20px 20px">
        <label>性别：</label>
        <input id="empSex" name="empSex" th:value="${session.emp.empSex}"
               type="text" readonly="readonly"
               style="font-size: 15px;color: blue;padding-left: 10px;border: none;height: 30px;" >
    </div>

    <div style="margin:20px 0 20px 20px">
        <label>部门：</label>
        <input id="deptName" name="deptName" th:value="${session.dept.deptName}"
               type="text" readonly="readonly"
               style="font-size: 15px;color: blue;padding-left: 10px;border: none;height: 30px;" >
    </div>

    <div style="margin:20px 0 20px 20px">
        <label>职位：</label>
        <input id="empRole" name="empRole" th:value="${session.emp.empRole}"
               type="text" readonly="readonly"
               style="font-size: 15px;color: blue;padding-left: 10px;border: none;height: 30px;" >
    </div>

    <div style="margin:20px 0 20px 20px">
        <label>状态：</label>
        <input id="empStatus" name="empStatus" th:value="${session.emp.empStatus}"
               type="text" readonly="readonly"
               style="font-size: 15px;color: blue;padding-left: 10px;border: none;height: 30px;" >
    </div>

    <div style="margin:20px 0 20px 20px">
        <label>邮箱：</label>
        <input id="empEmail" name="empEmail" th:value="${session.emp.empEmail}"
               type="text" readonly="readonly"
               style="font-size: 15px;color: blue;padding-left: 10px;border: none;height: 30px;" >
    </div>

    <div style="margin:20px 0 20px 20px">
        <label>电话：</label>
        <input id="empPhone" name="empPhone" th:value="${session.emp.empPhone}"
               type="text" readonly="readonly"
               style="font-size: 15px;color: blue;padding-left: 10px;border: none;height: 30px;" >
    </div>

    <div class="clear"></div>
    <div class="bot_btn">
    </div>

    <div class="clear"></div>

</div>

</body>
</html>